@model Library.Data.Models.Common.GroupModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a href="/Group/Create">Create</a>
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        
        <th></th>
    </tr>
</table>

